/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1{
  font-family: 'Anton' ,'Oswald', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  padding: 13px 0px ;
} 

.c1
{
  font-family: 'Anton', sans-serif;
font-family: 'Oswald', sans-serif;
}
.c2
{
  margin-bottom: 40px;
  font-family: 'Anton', sans-serif;
  font-family: 'Oswald', sans-serif;
}
.c3
{
  border: 2px solid #000;
  padding: 20px;
  border-radius: 20px 50px;
  background-color: #FFFDD0	;
  font-family: 'Anton', sans-serif;
  font-family: 'Oswald', sans-serif;  
  font-size: 28px;

}
.right
{
  margin-top: 0px;
  font-size: 20px;
  background: #E55D87;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 22px 55px;

}
.left
{
  margin-left: 0px;
  font-size: 20px;
  padding: 22px 55px;

  background: #5FC3E4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFE47A, #5FC3E4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #FFE47A, #5FC3E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
}
  
/* .btn {
  color: #000000;
  background: #993399;
  font-size: large;
  } */
#demo
{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.bold{
  font-weight: bold;
}